body {
  font-family: sans-serif;
  background-color: grey;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}

p[id^="detailView-"]
{
    display: none;
}

p[id^="detailView-"]:target
{
    display: block;
}

.header {
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #0074df;
}

.subheader {
  text-align: center;
  background-color: #e6e6e6;
  font-size: 20px;
  color: #0074df;
}

label {
	display: inline-block;
	width:120px;
}
 
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  right: -400px;
  position: relative;
}

.pure-g {
  height:90%;
  overflow:auto;
  background-color: white;
  border:1px solid white;
}

.pure-g .pure-u-1-6 {
  background-color: #e6e6e6;
  text-align: center;
  display: inline;
}

.navigation {
  background-color:#e6e6e6;
  text-align: center;
}

#acontent {
  background-color: #e6e6e6;
  text-align: center;
  display:none;
}

input[type="text"]{
    color: transparent;
    text-shadow: 0 0 0 #000;
    padding: 6px 12px;
    width: 60px;
    cursor: pointer;
}
input[type="text"]:focus{
    outline: none;
}
input:focus + div#acontent {
  display: block;
}

canvasChart {
  width: 1500px;
  height: 750px;
}
 
#login-buttons {
  display: block;
}

chartContainer {
	width: 1400px;
 	height: 1200px
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}

.charts {
	height: 400px;
	width: 900px;
	margin-bottom: 10px;
	float:right;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #aaa;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}



/* CSS declarations go here 
*/