<head>
  <!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
  <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <title>Data Exploration Tool</title>
</head>

<body>
  <div class="header"><h1>Data Exploration Tool</h1></div>
  <div class="navigation">{{>navigation}}</div>
  {{>about}}
  <div class="pure-g">
    <div class="pure-u-1-6">
  {{>querySelect}}
    </div>
    <div class="pure-u-5-6">
  {{>dataItem}}
  {{>canvaschart}}
  {{>dataItem}}
    </div>
  </div>
</body>

<template name="navigation">

</template>

<template name="about">
 <div id="acontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</template>

<template name="instructions">
  <div id="inscontent"></div>
</template>

<template name="canvaschart">
    <div id="chartContainer" class="chart">{{createChart}}</div>
</template>

<template name="home">
</template>

<template name="info">
  <h2>Select an Experiment</h2>
</template>

<template name="querySelect">
  <form class="pure-form pure-form-stacked">
    <fieldset>
      <legend><b>Select an Experiment</b></legend>
    <label>Select Experiment:</label> <input name="experiments" list="experiment_values"
    placeholder="EX39530_1421125363.41355" style="width:180px"><br>
    <datalist id="experiment_values">
      <option value="EX39530_1421125363.41355"></option>
    </datalist>
    <label>Select Session:</label> <input name="sessions" list="session_values"
    placeholder="S43945033_1421125363.41355" style="width:180px"><br>
    <datalist id="session_values">
      <option value="S43945033_1421125363.41355"></option>
    </datalist>
    <label>Select Parameter:</label> <input name="parameters" list="parameter_values" style="width:180px"><br>
    <datalist id="parameter_values">
      <option value="Accelerometer"></option>
      <option value="Magnetometer"></option>
      <option value="Motion Gravity Detector"></option>
      <option value="Motion User Acceleration"></option>
      <option value="Motion Attitude"></option>
      <option value="Gyroscope Rotation Rate"></option>
      <option value="Motion Rotation Rate"></option>
      <option value="Magnetic Heading"></option>
      <option value="Calibrated Magnetic Field"></option>
      <option value="Latitude/Longitude"></option>
      <option value="GPS Speed"></option>
    </datalist>
    <input type="submit" class="pure-button pure-button-primary">
  </fieldset>
  </form>
</template>

<template name="dataItem">
  <br>
  <tr>
    <td></td>
  </tr>
</template>

<template name="chartContainer">
  <div id="lineChart" style="width:900px; height:500px;"></div>
</template>